.sidebar{
    background-color: #040404;
    flex: 0.2;
    height: 100vh;
    color: white;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar img{
    width: 120px;
    padding: 10px;
    padding-top: 20px;
}

.sidebar-options{
    color: gray;
    height: 40px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-options:hover{
    color: white;
}
.sidebar-title{
    margin-left: 10px;
    padding: 5px;
    font-size: 14.5px;
    letter-spacing: 1.2px;
}
.sidebar hr{
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}